@media (max-width: 767px) {
    .center {
    padding-left: calc(50% - 767px/2);
    padding-right: calc(50% - 767px/2);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    }
    .heading {
    background-image: url(./imgs/Star__big_mobile.svg), url(./imgs/Star__medium_mobile.svg), url(./imgs/Star__little_mobile.svg),
    url(./imgs/Starmedium__right_mobile.svg), url(./imgs/Starlittle__right_mobile.svg);
    background-position: 220px -84px, 37px 97px, 91px 64px, 303px 660px, 272px 640px;
    height: 820px;
    }
    .header {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
    margin-top: 147px;
    margin-bottom: 18px;
    height: 368px;
    &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    display: none;
    }
    &__text_mobile {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    height: 148px;
    }
    &__button {
    display: block;
    margin: auto;
    margin-top: 6px;
    width: 285px;
    height: 102px;
    font-size: 16px;
    line-height: 141.69%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    }
    .navbar {
    height: 98px;
    width: 376px;
    margin-top: 210px;
    gap: 88px;
    background-position: 166px 17px;
    background-size: 19px 19px;
    &__mobile {
    display: none;
    }
    &__item {
    font-size: 16px;
    white-space: nowrap;
    }
    }
    .about {
    padding-top: 48px;
    height: 3958px;
    top: 781px;
    display: none;
    }
    /* &__header {
    display: none;
    color: white;
    }
    &__header_mobile {
    display: block;
    margin-left: 16px;
    margin-bottom: 42px;
    font-size: 40px;
    line-height: 49px;
    }
    &__text {
    display: none;
    } */
    .games {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-row-gap: 32px;
    justify-content: start;
    justify-items: center;
    grid-column-gap: 32px;
    &__img {
        width: 343px;
    }
    }
    .articles {
        gap: 12px;
        width: 343px;
        height: 545px;
        &__height_second {
        height: 584px;
        }
        &__height_third {
            height: 542px;
        }
        &__height_fourth {
            height: 622px;
        }
        &__height_fifth {
            height: 580px;
            margin-top: 0px;
        }
        &__height_sixth {
            height: 638px;
        }
    &__number {
        display: none;
    }    
    &__name {
        font-size: 32px;
        padding-top: 18px;
    }
    &__desc {
        display: block;
        margin-left: 32px;
        }
    &__button {
        margin-left: 28px;
        margin-top: 26px;
        display: block;
        width: 285px;
        height: 55px;
        border-radius: 60px;
        background-color: black;
        color: white;
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
    }
    }
    .footer {
        display: block;
        width: 376px;
        height: 100px;
        background-color: rgb(189, 237, 53);
        color: black;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
        margin-top: 48px;
        align-content: center;
    }
}
