* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: montserrat;
  overflow-x: hidden;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.heading {
  background: rgb(225, 255, 143);
  background-image: url(./imgs/Header_star.svg), url(./imgs/Header__star_medium.svg), url(./imgs/Header__star_little.svg), url(./imgs/Star__little_right.svg), url(./imgs/Star__medium_right.svg);
  background-position: 928px -333px, 63px 94px, 156px 69px, 948px 538px, 1013px 588px;
  background-repeat: no-repeat;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  margin-top: 196px;
  margin-bottom: 24px;
}
.header__text {
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}
.header__text_bold {
  font-weight: bold;
}
.header__button {
  font-family: inherit;
  border-radius: 60px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  width: 247px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__button_scroll {
  scroll-behavior: smooth;
}

.header__button:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
}

.navbar {
  background-color: rgb(188, 236, 48);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  width: 3220px;
  left: 0;
  height: 90px;
  margin-top: auto;
  padding-left: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(./imgs/Star__navbar.svg), url(./imgs/Star__navbar.svg), url(./imgs/Star__navbar.svg);
  background-position: 272px 27px, 660px 27px, 1100px 27px;
  background-repeat: no-repeat;
  gap: 128px;
}
.navbar__item {
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}
.navbar__item_gap {
  right: -5px;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-transform: uppercase;
}

.about {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  padding-top: 94px;
  left: 0;
  width: 100%;
  height: 1470px;
  background: rgb(32, 32, 39);
  background-repeat: no-repeat;
  color: white;
  top: 800px;
  background-image: url(./imgs/Star__big_second.svg), url(./imgs/Star__little_second.svg), url(./imgs/Star__medium_second.svg);
  background-position: 1098px 88px, 25px 770px, 40px 822px;
  background-repeat: no-repeat;
}
.about__header {
  padding-bottom: 24px;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}
.about__header_mobile {
  display: none;
}
.about__text {
  padding-bottom: 72px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.games {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  justify-content: start;
  justify-items: center;
  grid-column-gap: 32px;
}
.games__img {
  width: 378px;
}
.games__link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  color: black;
  background-size: 90%;
  border-radius: 30px;
  background-repeat: repeat-x;
  height: 473px;
  gap: 28px;
  width: 378px;
}
.articles__height_second {
  height: 512px;
}
.articles__height_fourth {
  height: 551px;
}
.articles__height_fifth {
  height: 512px;
  margin-top: 39px;
}
.articles__height_sixth {
  height: 551px;
}
.articles__number {
  width: 107px;
  height: 36px;
  border-radius: 52px;
  background: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
}
.articles__name {
  margin-left: 32px;
}
.articles__desc {
  display: none;
}
.articles__button {
  display: none;
}

.articles:hover {
  transform: scale(1.15);
  transition: transform 0.8s;
}

.mini-games {
  width: 100vw;
  height: 3500px;
  left: 0;
  background-image: url(./imgs/Star__little_second.svg), url(./imgs/Star__medium_second.svg);
  background-position: 1277px 93px, 1320px 126px;
  background-repeat: no-repeat;
  background: rgb(32, 32, 39);
  color: white;
  padding-top: 50px;
}
.mini-games__header {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-left: 156px;
}
.mini-games__articles {
  display: grid;
  grid-template-columns: repeat(1, 6fr);
  justify-content: start;
  justify-items: center;
  grid-column-gap: 32px;
  gap: 32px;
  padding-top: 72px;
}

.mini-articles {
  width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  background-color: #fff;
  color: black;
  background-size: 90%;
  border-radius: 47px;
  gap: 24px;
}
.mini-articles__name {
  padding-top: 42px;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}
.mini-articles__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.mini-articles__button {
  font-family: inherit;
  border-radius: 60px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  width: 247px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-articles__img {
  height: 500px;
  width: 600px;
}

.mini-articles__button:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
}

.mini-articles:hover {
  transform: scale(1.1);
  transition: transform 0.8s;
}

.footer {
  height: 150px;
  background-color: rgb(189, 237, 53);
  color: black;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  align-content: center;
}

@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 383.5px);
    padding-right: calc(50% - 383.5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
  }
  .heading {
    background-image: url(./imgs/Star__big_mobile.svg), url(./imgs/Star__medium_mobile.svg), url(./imgs/Star__little_mobile.svg), url(./imgs/Starmedium__right_mobile.svg), url(./imgs/Starlittle__right_mobile.svg);
    background-position: 220px -84px, 37px 97px, 91px 64px, 303px 660px, 272px 640px;
    height: 820px;
  }
  .header {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
    margin-top: 147px;
    margin-bottom: 18px;
    height: 368px;
  }
  .header__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    display: none;
  }
  .header__text_mobile {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    height: 148px;
  }
  .header__button {
    display: block;
    margin: auto;
    margin-top: 6px;
    width: 285px;
    height: 102px;
    font-size: 16px;
    line-height: 141.69%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    height: 98px;
    width: 376px;
    margin-top: 210px;
    gap: 88px;
    background-position: 166px 17px;
    background-size: 19px 19px;
  }
  .navbar__mobile {
    display: none;
  }
  .navbar__item {
    font-size: 16px;
    white-space: nowrap;
  }
  .about {
    padding-top: 48px;
    height: 3958px;
    top: 781px;
    display: none;
  }
  /* &__header {
  display: none;
  color: white;
  }
  &__header_mobile {
  display: block;
  margin-left: 16px;
  margin-bottom: 42px;
  font-size: 40px;
  line-height: 49px;
  }
  &__text {
  display: none;
  } */
  .games {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-row-gap: 32px;
    justify-content: start;
    justify-items: center;
    grid-column-gap: 32px;
  }
  .games__img {
    width: 343px;
  }
  .articles {
    gap: 12px;
    width: 343px;
    height: 545px;
  }
  .articles__height_second {
    height: 584px;
  }
  .articles__height_third {
    height: 542px;
  }
  .articles__height_fourth {
    height: 622px;
  }
  .articles__height_fifth {
    height: 580px;
    margin-top: 0px;
  }
  .articles__height_sixth {
    height: 638px;
  }
  .articles__number {
    display: none;
  }
  .articles__name {
    font-size: 32px;
    padding-top: 18px;
  }
  .articles__desc {
    display: block;
    margin-left: 32px;
  }
  .articles__button {
    margin-left: 28px;
    margin-top: 26px;
    display: block;
    width: 285px;
    height: 55px;
    border-radius: 60px;
    background-color: black;
    color: white;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
  }
  .footer {
    display: block;
    width: 376px;
    height: 100px;
    background-color: rgb(189, 237, 53);
    color: black;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    margin-top: 48px;
    align-content: center;
  }
}/*# sourceMappingURL=Style.css.map */